{% extends 'template.html' %}
{% block title %}New Feedback Form{% endblock %}

{% block content %}

<h1>New Feedback</h1>

<form id="new-feedback-form" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit">Submit</button>
</form>

{% endblock %}